.chat .user {
  height: 100vh;
  min-width: 350px;
  max-width: 390px;
  width: 30%;
  padding: 20px;
}

.chat .user header {
  display: flex;
  width: 100%;
}

.chat .user header h2 {
  width: 150px;
  color: #7e98df;
}

.chat .user header .form-user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 60%;
  color: transparent;
}

.chat .user header .form-user .btn {
  background-color: transparent;
  color: #7e98df;
  border: none;
  outline: none;
}

.chat .user header .form-user .dropdown-menu {
  background-color: #7e98df;
  border-radius: 15px;
  border-top-left-radius: 45px;
  border-bottom-right-radius: 45px;
}

.chat .user header .form-user .dropdown-menu .dropdown-item {
  color: white;
  font-size: 20px;
  height: 40px;
  width: 200px;
  padding: 15px;
  margin-bottom: 10px;
}
.chat .user header .form-user .dropdown-menu .dropdown-item i {
  height: 20px;
  width: 40px;
}

.chat .user header .form-user .dropdown-menu .dropdown-item:hover {
  color: #e5e5e5;
  background-color: #7e98df;
  border-radius: 45px;
  outline: none;
}

.chat .user .search-section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.chat .user .search-section i {
  z-index: 0;
  color: #848484;
  position: relative;
  padding: 4px;
  height: 30px;
  width: 30px;
  font-size: 25px;
  margin-right: -40px;
}

.chat .user .search-section .search {
  background-color: #f5f5f5;
  height: 40px;
  width: 100%;
  border-radius: 15px;
  border: none;
  margin: 15px 0px;
  padding-left: 45px;
  outline: none;
}

.chat .user .contact {
  overflow: scroll;
  height: 80vh;
}

.chat .user .contact::-webkit-scrollbar {
  display: none;
}

.chat .user .contact .form-contact {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  border: none;
  border-bottom: 0.1ypx solid #848484;
  background-color: transparent;
  outline: none;
  height: 80px;
  margin: 10px 0px;
}

.chat .user .contact .img-contact {
  height: 65px;
  width: 65px;
  border-radius: 25px;
  margin: 3px 10px;
}

.chat .user .contact .name-contact {
  width: 60%;
  margin: 3px;
  text-align: left;
  padding: 0px 10px;
}
.chat .user .contact .name-contact {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.chat .user .contact .detail-message {
  margin: 3px;
  text-align: left;
  padding: 0px 10px;
  margin: 6px 0px;
}
